<?xml version='1.0' encoding='utf-8'?>
<plugin id="ibm-mfp-core" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MFPCore</name>

    <js-module name="MFPClient" src="www/MFPClient.js">
        <clobbers target="MFPClient"/>
    </js-module>

    <js-module name="MFPResourceRequest" src="www/MFPResourceRequest.js">
        <clobbers target="MFPResourceRequest"/>
    </js-module>

    <platform name="android">
        <!-- Include Android BMS SDK -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MFPClient">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.MFPClient"/>
            </feature>
            <feature name="MFPResourceRequest">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.MFPResourceRequest"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml"/>

        <!--<source-file src="src/android/MFPCore.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />-->
        <source-file src="src/android/MFPClient.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
        <source-file src="src/android/MFPResourceRequest.java" target-dir="src/com/ibm/mobilefirstplatform/clientsdk/cordovaplugins/core" />
    </platform>

    <!-- ios -->
    <platform name="ios">

        <config-file parent="/*" target="config.xml">

            <feature name="MFPCore">
                <param name="ios-package" value="MFPCore"/>
            </feature>

            <feature name="MFPClient">
                <param name="ios-package" value="MFPClient"/>
            </feature>

            <feature name="MFPResourceRequest">
                <param name="ios-package" value="MFPResourceRequest"/>
            </feature>

        </config-file>

        <header-file src="src/ios/MFPCore.h" />
        <source-file src="src/ios/MFPCore.m"/>

        <header-file src="src/ios/MFPClient.h" />
        <source-file src="src/ios/MFPClient.m" />

        <header-file src="src/ios/MFPResourceRequest.h" />
        <source-file src="src/ios/MFPResourceRequest.m" />

    </platform>

</plugin>

