<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="ibm-mfp-core-tests"
    version="1.0.2-dev">
    <name>IBM Bluemix Cordova Plugin Tests</name>
    <license>Apache 2.0</license>

    <dependency id="cordova-plugin-test-framework" url="http://git-wip-us.apache.org/repos/asf/cordova-plugin-test-framework" />

    <js-module src="tests.js" name="tests">
    </js-module>
</plugin>